p
    {

        color:rgb(255, 255, 255);
        font-size:medium;
        font-weight:normal;
        font-family:Comic sans;
    }

body
    {

        background-color: rgb(0, 0, 0);

    }

div
    {

        max-width: 1080px;

    }