p
    {

        color:rgb(0, 0, 0);
        font-size:medium;
        font-weight:bold;
        font-family:Comic sans;
    }

body
    {

        background-color: rgb(255, 255, 255);

    }

div
    {

        max-width: 720px;

    }